<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>ddMarket - New Account</title>

</head>

<body>
  <% if(accounts == null || accounts.length == 0){ %>
    <div>
      There is no account
    </div>
  <% } %>

  <ul>
    <% accounts.forEach(function(account){ %>
      <li>
        <%= account %>
      </li>
    <% }) %>
  </ul>

</body>
</html>
