<!DOCTYPE html>
<html>
 <head>
 </head>
 <body>
   <a href="/account">Account</a> <br />
   <a href="/account/new">NewAccount</a> <br />
   <a href="/contract">Contract</a> <br />
   <a href="/contract/new">NewContract</a> <br />
   hi
 </body>
</html>
