<!-- views/posts/index.ejs -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>ddMarket</title>

</head>

<body>
  <a href="/posts/new">New</a>

  <table>
    <thead>
      <tr>
        <th>No</th>
        <th>Title</th>
        <th>Type</th>
        <th>Price</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>30대 남성 얼굴 데이터</td>
        <td>1/300</td>
        <td>Image</td>
        <td>0.02 ETH</td>
        <td>TheFaceLab</td>
      </tr>
    </tbody>
  </table>
</body>

</html>
